
aa_sequences/GFP_Brightness_Database.accdb
scores/GFP_highbrightness_scores.xlsx
scores/Scores.txt
test_structures/SPServer_request.txt
scores/GFP_Brightness_Database.accdb
scores/GFP_Brightness_Database.laccdb
